.main-chat
  .main-header 
    .left-box
      .current-group
        tech
      .member-list
        Member :atsuro
    .edit-button 
      Edit
  .messages
    .message
      .user
        .user__name
          masa
        .date
          2019/11/22(wed) 17:43:01
      .talk
        おはよう！
      .user
        .name
          sin
        .date
          2019/11/25(fri) 20:11:30
      .talk
        こんばんは
  .form
    .input-box
      .text
        type a message
      .image
        .label
          = link_to'#' do
            = icon('fas', 'image')
            %input{type: "file"}
    .submit-btn
      send
    