.side_bar
  .side-header
    .side-header__box
      .user-name
        atsuro
      .box__menu
        .menu__new-group
          = link_to '#' do
            = icon('fa', 'edit',class: 'icon')
          = link_to '#' do
            = icon('fa', 'cog',class: 'icon')
  .groups
    .group
      .group__name
        グループ名
      .group__message
        まだメッセージはありません
