.wrapper{
  width: 100vw;
  height: 100vh;
}
.side_bar {
 width: 300px;
 color: white;
 float: left;
}

.side-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display:flex;
  align-items: center;
}

.side-header__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.box__menu{
  display:flex
  
}
.menu__new-group {  
  margin: 0px 5px;
}

.menu__edit-user {
  
}

.icon{
  color: white;
}
.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  overflow: scroll;
  color: white;
  padding: 20px 20px 0;
}

.group__name {
  font-size: 15px;
  margin-bottom: 5px;
}
.group__message {
  font-size: 11px;
  margin-bottom: 40px;
  
}
  